In [44]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd

baseurl = 'https://www.thewhiskyexchange.com/'

headers = {'user-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36'}

productlink = []

for x in range(1,6):
    r = requests.get(f'https://www.thewhiskyexchange.com/c/35/japanese-whisky?pg={x}&psize=24&sort=pasc')

    soup = BeautifulSoup(r.content,'lxml')

    productlist = soup.find_all('li',class_ = 'product-grid__item')

    # productlist = soup.find_all('div',class_ = 'product-grid__item')

    # print(productlist)

    

    for item in productlist:
        for link in item.find_all('a',href = True):
            productlink.append(baseurl + link['href'])
           
# testrl = 'https://www.thewhiskyexchange.com/p/52590/kaiyo-peated-mizunara-oak'
whiskeylist = []
for link in productlink:

    r = requests.get(link,headers = headers)

    soup = BeautifulSoup(r.content,'lxml')

    name = soup.find('h1',class_="product-main__name").text.strip()
    price = soup.find('p', class_="product-action__price").text.strip()

    whiskey = {
        'name':name,
        'price': price
    }

    whiskeylist.append(whiskey)
#     print('saving:' , whiskey['name'])
    
df = pd.DataFrame(whiskeylist)
df
# df.to_csv(index=True)

                                         name    price
0                       Suntory Torys Classic   £30.45
1            Hatozaki Blended Japanese Whisky   £30.95
2                                  Nikka Days   £31.95
3                                Suntory Toki   £31.95
4               Tokinoka White Blended Whisky   £32.95
..                                        ...      ...
102       Karuizawa 38 Year Old\nPearl Geisha  £25,000
103  Karuizawa 30 Year Old\nSherry Cask #5347  £25,000
104    Karuizawa 36 Year Old\nSapphire Geisha  £28,000
105       Karuizawa 37 Year Old\nPearl Geisha  £35,000
106    Hanyu 1985 The Joker\nMonochrome Label  £60,000

[107 rows x 2 columns]